.header {
  background-color: white;
  width: auto;
  padding: 1rem;
  box-shadow: 0rem 0rem 0.25rem 0.01rem #d4cbd6;
}

.header-item {
  margin: 0 0.75rem 0 0.75rem;
}

#detailed-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#simple-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 5rem;
  width: 9.65rem;
  background-size: cover;
}

#cart-icon {
  height: 2rem;
  width: 2rem;
  background-size: cover;
}

.header-button-spacer {
  margin: 0.25rem;
}

#cart-icon {
  position: relative;
}

.cart-items-count {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(255, 94, 0);
}

#double-digit {
  position: absolute;
  top: -1.05rem;
  left: 0.57rem;
}

#single-digit {
  position: absolute;
  top: -1.05rem;
  left: 0.8rem;
}

#welcome-message {
  line-height: 1rem;
}

#welcome-message p {
  margin-bottom: 0rem;
  margin-top: 0;
  margin-top: auto;
  bottom: 0;
  bottom: auto;
}

#header-user-buttons {
  display: flex;
  justify-content: center;
}

#header-user-buttons {
  margin: 0;
}

#welcome-message p {
  text-align: center;
  font-size: 1rem;
}

#cart-icon-container {
  position: relative;
}

@media only screen and (max-width: 770px) {
  #header-user-buttons {
    text-align: center;
  }
  .header-item {
    margin: 0 0rem 0 0rem;
  }

  #cart-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .cart-items-count {
    font-size: 0.75rem;
  }

  #double-digit {
    position: absolute;
    top: -0.7rem;
    left: 0.34rem;
  }

  #single-digit {
    position: absolute;
    top: -0.7rem;
    left: 0.585rem;
  }

  #welcome-message p {
    font-size: 0.85rem;
  }

  .header {
    padding: 1rem 0 1rem 0;
  }

  .header-item {
    padding: 0 0.25rem 0 0.25rem;
  }

  .logo {
    height: 3.3rem;
    width: 6.37rem;
    background-size: cover;
  }
}

@media only screen and (max-width: 512px) {

  #detailed-header-logo {
    height: 2.5rem;
    width: 2.5rem;
    background-size: cover;
  }

  .header {
    padding: 1rem 0rem 1rem 0rem;
  }

  #cart-icon {
    height: 1.25rem;
    width: 1.25rem;
  }

  .cart-items-count {
    font-size: 0.75rem;
  }

  #double-digit {
    position: absolute;
    left: 0.27rem;
  }

  #single-digit {
    position: absolute;
    left: 0.5rem;
  }

  #welcome-message p {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
}
