header {
  background-color: white;
  width: 100%;
  padding: 1rem;
  box-shadow: 0rem 0rem 0.25rem 0.01rem #d4cbd6;
}

.header-item {
  padding: 0 0.5rem 0 0.5rem;
}

#detailed-header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#simple-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 5rem;
  width: 9.5rem;
  background-image: url("../../images/logo.png");
  background-size: cover;
}

#cart-icon {
  height: 2rem;
  width: 2rem;
  background-image: url("../../images/cart.png");
  background-size: cover;
}

.header-button-spacer {
  margin: 0.25rem;
}

#cart-icon {
  position: relative;
}

.cart-items-count {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(255, 94, 0)
}

#double-digit {
  position: absolute;
  top: -1.05rem;
  left: 0.57rem;
}

#single-digit {
  position: absolute;
  top: -1.05rem;
  left: 0.8rem;
}

#welcome-message {
  line-height: 0.5rem;
}