@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    rgb(248, 250, 253) 0%,
    rgba(248, 250, 253, 0) 413px
  );
  background-image: linear-gradient(
    rgb(248, 250, 253) 0%,
    rgba(248, 250, 253, 0) 413px
  );
  color: rgb(48, 53, 73);
}

img:on-err

h2 {
  font-family: "Roboto", sans-serif;
}

#footer-spacer {
  margin-top: 15rem;
}

footer {
  text-align: center;
}

footer p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.important-button {
  background-color: #005014;
  border-color: #005014;
  border-width: 0.22rem;
  color: white;
  width: 15rem;
  height: 2.4rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 450;
  border-style: solid;
  box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #3a3a3a;
  margin: 0;
}

.important-button:hover {
  transition: 300ms;
  background-color: white;
  color: #005014;
  box-shadow: 0.08rem 0.08rem 0.08rem 0.08rem #c9cec9;
}

.important-button:not(hover) {
  transition: 300ms;
}

.important-button:active {
  transition: 150ms;
  background-color: #003c0f;
  border-color: #003c0f;
  box-shadow: none;
  color: white;
}

.semi-important-button {
  background-color: #f9f9f9;
  border-color: #001806;
  border-width: 0.1rem;
  color: rgb(11, 12, 12);
  width: 15rem;
  height: 2.4rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #c9cec9;
  font-weight: 450;
  margin: 0;
}

.semi-important-button:hover {
  transition: 300ms;
  background-color: #e9e9e9;
  border-width: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #c9cec9;
}

.semi-important-button:not(hover) {
  transition: 300ms;
}

.semi-important-button:active {
  transition: 150ms;
  background-color: #606361;
  border-color: #003c0f;
  box-shadow: none;
  color: white;
}

.option-label {
  font-size: 0.75rem;
  font-weight: 600;
}

.styled-box {
  background-color: white;
  box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px,
    rgb(88 102 126 / 12%) 0px 1px 2px;
  border-radius: 0.5rem;
  border-width: 1px;
}

.styled-link-box:hover {
  transition: all 25ms;
  box-shadow: 0rem 0rem 1rem 0.01rem #d4cbd6;
}

.styled-link-box {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.small-button {
  color: white;
  padding: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.3rem;
  background-color: #1c7eff;
  border: none;
  font-weight: 500;
  margin: 0.25rem;
  margin-bottom: 0;
  width: 5.5rem;
}

.small-button:hover {
  background-color: #0d25ff;
}

.small-button:active {
  background-color: #1c86ff;
}

#green-checkmark {
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
}

input[type="checkbox"] {
  transform: scale(1.25);
}

@media only screen and (max-width: 770px) {
  h2 {
    text-align: center;
  }

  #header-button-container {
    text-align: center;
  }

  .small-button {
    font-size: 0.75rem;
    width: 4.4rem;
    height: 1.6rem;
  }

  .important-button {
    width: 12rem;
    font-size: 1rem;
    height: 2.2rem;
  }

  .semi-important-button {
    width: 12rem;
    font-size: 1rem;
    height: 2.2rem;
  }
}

@media only screen and (max-width: 512px) {
  .small-button {
    font-size: 0.7rem;
  }

  .important-button {
    width: 9rem;
    font-size: 0.8rem;
    padding: 0rem;
    height: 2rem;
  }

  .semi-important-button {
    width: 9rem;
    font-size: 0.8rem;
    padding: 0rem;
    height: 2rem;
  }
}
