#product-navigation-bar {
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#product-navigation-bar ul{
  margin: 0;
}

#product-navigation-bar li{
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}
 
#product-navigation-bar a:visited,
#product-navigation-bar a:link {
  text-decoration: none;
  color: #111111;
}

#product-navigation-bar a:hover {
  text-decoration: underline;

}

#product-navigation-bar a:active {
  border-style: solid;
  border-color: blue;
  border-width: 0.15rem;
}