#product-list-title h2 {
  padding-top: 2rem;
  text-align: center;
}

#product-list-title p {
  font-size: 0.75rem;
  padding-bottom: 2rem;
  text-align: center;
}

#product-list-content ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

#product-list-body {
  margin: 0 auto;
  width: 80%;
}

@media only screen and (max-width: 991px) {
  #product-list-content ul {
    justify-content: center;
  }
}
