#product-list-head h2 {
  padding-top: 2rem;
}
#product-list-head p {
  font-size: 0.75rem;
  padding-bottom: 2rem;
}

#product-list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

@media only screen and (max-width: 770px) {

  #product-list-content {
    justify-content: center;
  }
  #product-list-head h2 {
    text-align: center;
  }
  #product-list-head p {
    text-align: center;
  }
  
}