#product {
  display: flex;
  justify-content: right;
}

#product-image {
  height: 60rem;
}

#product-image img {
  align-items: center;
  border-style: solid;
  border-color: #c8c8c8;
  border-radius: 0.5rem;
  border-width:  1px;
  padding: 2rem;
  margin: 2rem;
}

#options{
  display: flex;
  justify-content: left;
}

#product-info {
  padding: 2rem;
  margin: 2rem;
}

label {
  margin-right: 1rem;
}

select {
  margin-right: 2rem;
  width: 5rem;
}

.option-label {
  padding-top: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
}
