#product {
  display: flex;
  justify-content: right;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#product-image {
  max-height: 40rem;
}

#product-image img {
  align-items: center;
  padding: 2rem;
  margin: 2rem;
}

#options{
  display: flex;
  justify-content: left;
}

#product-info {
  padding: 2rem;
  margin: 2rem;
}

label {
  margin-right: 1rem;
}

select {
  margin-right: 2rem;
  width: 5rem;
}
