#checkout-page { 
  margin-top: 2rem;
}

#checkout-head h2{
  text-align: center;
}
#checkout-body {
  display: flex;
  justify-content: space-around;
}

#checkout-form {
width: 45%;
padding: 3rem;
}

#checkout-page h3{
  font-size: 1.5rem;

}

#checkout-page h2 {
  padding-top: 2rem;
  margin: 2rem;
}

.form-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.space-right { 
  margin-right: 1rem;
}

.input-item-incomplete-half {
  width: 50%;
  padding-right: 0.5rem;
}

#checkout-submit {
  text-align: center;
  margin-bottom: 2rem;
}

#checkout-page h3 {
  margin: 1.5rem;
}

#disclaimer-input {
  display: flex;
  margin: 1rem;
}

#disclaimer-input label {
  margin-left: 1rem;
}

#same-as-billing-input {
  margin: 1rem;
  display: flex;
}

#same-as-billing-input label {
  margin: 1rem;
}

#disclaimer-error {
  margin-left: 1rem;
}

#server-error {
  margin-left: 1rem;
}



@media only screen and (max-width: 992px) { 
  #checkout-body {
    display: block;
  }
  #checkout-form {
    width: 80%;
    margin: 0 auto;
    padding: 4rem;
    }

}

@media only screen and (max-width: 770px) { 
  #checkout-form {
    padding: 2rem;
    }

}



@media only screen and (max-width: 512px) { 

  #checkout-form {
    padding: 1rem;
    width: auto;
    }

}

