#added-to-cart-content {
  display: flex;
  justify-content: space-around;
}
#added-to-cart-head {
  justify-content: center;
  margin-bottom: 3rem;
}

#added-to-cart-content {
  padding: 2rem;
  padding-top: 4rem;
  border-style: solid;
  border-color: #c8c8c8;
  border-radius: 0.5rem;
  border-width:  1px;
}

#added-to-cart-image {
  max-height: 10rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

#added-to-cart-image img {
  max-height: 10rem;
  
}

#green-checkmark {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('../../images/checkmark2.png');
  background-size: cover;
  align-items: center;
}

#added-to-cart-details {
  padding: 2rem;
  line-height: 0.75;
}

#added-to-cart-head {
  display: flex;
  margin-left: 2rem;
  margin-top: 3rem;
}

#added-to-cart-head h2 {
  text-align: center;
}

#added-to-cart-buttons {
  display: flex;
  justify-content: space-between;
}

#added-to-cart-buttons button {
  margin-right: 2rem;
}